/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto';
  width: 100%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
header {
  width: 100%;
  background-color: #044A53;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h2 {
  text-align: start;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.7%;
}
header img {
  height: 45px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.navigation div {
  width: 40%;
  height: 800px;
}
.navigation .text nav {
  padding-bottom: 25%;
  margin-left: 35%;
  font-size: 2em;
}
.navigation .text nav a {
  align-items: space-between;
  padding: 3%;
  color: #0070EB;
}
.navigation .text h1 {
  color: #044A53;
  margin: 5% 0;
  font-size: 5.5em;
}
.navigation .text p {
  color: #323232;
  line-height: 2em;
  padding: 2%;
}
.navigation .image {
  height: inherit;
  width: 50%;
}
footer {
  width: 100%;
  background-color: #044A53;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7%;
}
footer h2 {
  text-align: start;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 1%;
}
footer img {
  height: 45px;
}
#main {
  width: 75%;
  font-weight: bold;
}
#interact {
  width: 100%;
  border: 1px solid black;
}
#interact #search {
  border: 1px solid #044A53;
  border-radius: 1em;
  width: 40%;
}
#interact #button {
  background-color: #044A53;
  color: #FFFFFF;
  border-radius: 0.5em;
  width: 30%;
  text-align: center;
}
h2 {
  font-size: 4em;
  text-align: center;
  padding: 2%;
}
#team {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  border: 5px dashed #0070EB;
  width: 90%;
  margin: auto;
}
#team div {
  padding: 2%;
  width: 100%;
  justify-content: space-between;
}
#team div .member {
  padding: 5%;
  margin: auto;
  text-align: center;
}
#team div .member img {
  height: 200px;
  width: 200px;
  border-radius: 10em;
  padding: 3%;
}
