#main{
    width:75%;
    font-weight: bold;
}

#interact{
    width:100%;
    border:1px solid black;

    #search{
    border: 1px solid @teal;
    border-radius: 1em;
    width: 40%;
    }

    #button{
    background-color: @teal;
    color: @white;
    border-radius: 0.5em;
    width:30%;
    text-align: center;
    }
}