.container{

    .top-page{
        display:flex; 
        flex-direction:row;
        
        @media @mobile{
            flex-direction: column;
        }

        div{
            width: 100%;
            
            
            #Relief-bg{
                text-align:center;
                margin: 4% auto;
                color:white;
                font-size: 2.2rem;
                padding:5%;
                background-color:#01B5CD ;
                width:60%;
                border-radius:12px;

                @media @tablet{
                    width:50%;
                }
            }

            p{
                text-align:center;
                font-size: 2rem;
                @media @tablet{
                    font-size: 1.6rem;
                }
            }
        }//closes div

        .sign-up{

            text-align:center;

            p{
                text-align: center;
                margin: 4% auto;
                background-color: #01B5CD ; 
                width: 20%;
                border-radius: 12px;
                padding:2%; 

                a{
                    color: white;
                    text-decoration: none;
                }//closes a in p

                @media @tablet{
                    width:100%;
                }
            }//closes p 

            p:hover{
                background: teal; 
            }// closes p:hover
            
        }//closes .sign-up

    //Below is transition of opacity text in logos
        .logos{
            display:flex; 
            flex-direction:column; 
            align-items:center;
            margin: 2% 0; 

            .hidden-txt{
                opacity: 0; 
                transition: all ease 0.8s; 
                @media @tablet{
                    opacity: 1;
                }
            }// closes text below images

        }//closes logo

        .logos:hover{

            .hidden-txt{
                opacity: 1; 
            }//closes hidden.txt
        }//closes hover on logo



    }//closes top page

}//closes container


